/* add css styles here (optional) */

.sliderArrowsContainer {
  position: relative;
}

.sliderArrowsArrow {
  position: absolute;
  padding: 0;
  z-index: 999;
  border: 2px solid #9b6925;
  border-radius: 100%;
  display: block;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition: opacity 250ms;
  top: 0;
  bottom: 0;
  margin: auto;

  @media (min-width: 780px) {
    display: flex;
  }
}

.sliderArrowsChildren {
  padding: 1rem 2rem;
  scroll-behavior: smooth;
  display: flex;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.sliderArrowsArrowSmall {
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 5px;
  border: 0;
  background: #fff;
}

.sliderArrowsArrowSmall.sliderArrowsArrowLeft {
  left: 0;
}

.sliderArrowsArrowSmall.sliderArrowsArrowRight {
  right: 0;
}

.sliderArrowsArrow-img-left {
  margin-right: .1rem;
}

.sliderArrowsArrow-img-right {
  margin-left: .1rem;
}

.sliderArrowsActive {
  opacity: 1;
}

.sliderArrowsInactive {
  opacity: .5;
}
