/* add css styles here (optional) */

.snap {
  flex-basis: 200px;
  scroll-snap-align: start;
  color: pink;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.sliderArrowsChildren {
  position: relative;
  margin: 0 auto;
  background-color: green;
  display: flex;
  overflow: auto;
  width: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.sliderArrowsArrow {
  padding: 0;
  z-index: 999;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition: opacity 250ms;
  margin: auto;
}

.sliderArrowsArrowSmall {
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
}

.sliderArrowsArrowMedium {
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
}

.sliderArrowsArrowLarge {
  width: 3.5rem;
  height: 3.5rem;
  border: 0;
}

.sliderArrowsChildren::-webkit-scrollbar {
  display: none;
}

.sliderArrowsArrowLeft {
  left: 5px;
}

.sliderArrowsArrowRight {
  right: 5px;
}

.sliderArrowsActive {
  opacity: 1;
}

.sliderArrowsInactive {
  cursor: default;
  opacity: .5;
}
